* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Souvent, lorsqu'on crée une page, on voudra ajouter de l'espace entre différents colonnes ou rangées d'une grille pour 'aérer' la grille et faire en sorte que les éléments ne soint pas forcément collés les uns aux autres.

Pour se faire, on va pouvoir utiliser les propriétés 'ROW-GAP' et 'COLUMN-GAP' qui permettent définir la taille des 'goutières' de la grille, c'est-à-dire la taille des espaces entre les rangées et entre les colonnes.

/!\ Notez qu'on peut également utiliser la propriété raccourcie 'GAP' pour définir les valeurs de 'ROW-GAP' et 'COLUMN-GAP' d'un coup.
*/
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 50px);
    border: 2px solid red;
    margin-bottom: 10px;
}
.c2 {
    row-gap: 4px;
    column-gap: 16px;
}
.bleu {
    background: rgb(121, 250, 250);
}
.vert {
    background: rgb(19, 241, 123);
}
.jaune {
    background: rgb(250, 250, 29);
}
.rouge {
    background: rgb(250, 0, 0);
}